.boxAPM{
    background: #fffdfd;
    display: flex;
    width: 600px;
    height: 340px;
    border-radius: 30px;
    box-shadow: 0 3px 4px 1px rgba(159, 162, 177, 0.8);/*เงา*/

}

.boxAPM p{
    display: inline;
    overflow: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.boxAPM p .flex{
    display: inline;
    top: 0;
    left: -5px;
}

.p{
    position: relative;
    display: inline-flex;
    font-size: 20px;
    color: #4682A9;
    margin-bottom: 5px;
    font-weight: bold;
}

.addnew{
    font-size: 14px;
    width: 120px;
    height: 22px;
    margin-left: 15px;
    margin-top: 5px;
    background: #F1C376;
    border-radius: 20px;
    display: flex;/*30-32ทำให้อยู่ตรงกลาง*/
    align-items: center;
    justify-content: center;
    color: #fefcfc;

}

.section{
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 100;
    font-weight: bold;
    color: #4682A9;
}

.section .t{
    margin-left: 95px;
}

.section .pl{
    margin-left: 68px;
}

.section .s{
    margin-left: 115px;
}